.message-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
.message {
  max-width: 300px;
  padding: 1rem;
  transition: all 0.3s;
  margin: 1rem;
  border-radius: 5px;
  &.success {
    background-color: yellowgreen;
  }
  &.error {
    background-color: firebrick;
  }

  &__text {
    color: white;
    text-transform: capitalize;
    font-size: 1rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
